<div class="homesearch">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div class="padd">
         <div class="applebox">
          <!-- Hero title -->
          <div class="appleh2">
          Share a ride, make friends, make money.
          </div>
          <%= search_form_for @q do |f| %>
           <div class="field">
           <%= f.text_field :from_cont, :class => 'address-picker-input' %>
           </div>
          <%= f.submit "Search A Ride", class:"btn btn-warning" %>
          
          <!-- ============================================================================ -->

    <script type="text/javascript">

        //AddressPickerRails.Pickers.applyOnReady({
        //    'onLoad':function (railsPicker) {
        //        console.debug("callback for a single pond with ID '%s'", railsPicker.getIdPrefix());
        //    }
        //});

        AddressPickerRails.Pickers.apply({
            'onLoad':function (railsPicker) {
                console.debug("callback for a single post with ID '%s'", railsPicker.getIdPrefix());
            }
        });
        
        
         
    </script>

    <!-- ============================================================================ -->
    
         <% end %>
         </div>
        </div>
      </div>
    </div>
</div>
</div>
