<div class="homesearch">
<div class="container">
<h2>Search results</h2>
</div>
</div>

<div class="lists">


<ol class="limeposts">



 <% @posts.each do |post| %>
  <li>
  <div class="limeskin">
  <div class="limebox">
  <div class="limecost">
  <p>R120 </p> 
  <p>2</p> 
  </div>
  <div class="limeface">
  <p>Erin Walker </p>
  </div>
  <div class="limecontent">
    From:
    <%= post.from %>
    To:
    <%= post.to %>
    <p>Date:</p>
    <p><%= post.date %></p>
  </div>
  
  </div>
  </div>
  </li>
 <% end %>
 




</ol>

</div>






