<header class="navbar">
  <div class="navbar-inner">
     <div class="container"> 
      <%= link_to "ALift", '#', id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <li><button class="btn btn-success" type="button"> Post a ride </button></li>
          <li><%= link_to "Search",  '#' %></li>
          <li><%= link_to "Help",    '#' %></li>
          <li><%= link_to "Sign in", '#' %></li>
        </ul>
      </nav>
    </div>
  </div>
</header>